.navbar {
	background-color: black;
	/*border: 2px solid red;*/
	height: 120px;
	display: flex;
	width: 100%;
	transition: transform 0.3s ease-in-out;
	position: fixed;
	z-index: 3;
	visibility: hidden;
	align-items: center;
	justify-content: center;
}
.navbar.loaded {
	visibility: visible;
}
.show {
	transform: translateY(0);
}

.hide {
	transform: translateY(-100%);
}
.logo {
	color: white;
	/*border: 2px solid green;*/
	flex-direction: row-reverse;
	width: fit-content;
	height: 60px;
	padding-inline: 20px;
}
.logoText {
	/*border: 2px solid red;*/
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: color 0.3s ease-in-out;
	color: #fbc02d;
}
.logoText:hover {
	color: #fbc02d;
}
.SPA {
	margin-top: -15px;
	font-size: 15px;
	font-weight: 400;
}
.avionics {
	font-size: 45px;
	font-weight: 200;
}
.logoImg {
	height: 60px;
	width: 60px;
	/*border: 2px solid red;*/
}
.ship {
	fill: white;
}
.flame {
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
	fill: #fbc02d;
}
.logo:hover .flame {
	/*animation: pulseFlame 0.2s infinite ease-in-out;*/
	content: '';
}
.logoImg2 {
	height: 60px;
	width: 60px;
}
@keyframes pulseFlame {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
.dropdown {
	position: fixed;
	right: 30px;
}

.dropdown-toggle {
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.2em;
	z-index: 12;
	border: 2px solid red;
}

.dropdown-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	border: 2px solid green;
	z-index: -1;
}
.no-scroll {
	overflow: hidden;
}
.dropdown-menu a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 10px;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}

.dropdown-menu a:hover {
	background-color: #444;
}

@media (max-width: 768px) {
	.navbar {
	}
	.logo {
		position: absolute;
	}
	.space-x-4 {
		display: none;
	}
}
