.navbar {
	/*background-color: black;*/
	/*border: 2px solid red;*/
	height: 120px;
	opacity: 85%;
	display: flex;
	width: 100%;
	transition: transform 0.3s ease-in-out;
	position: fixed;
}
.show {
	transform: translateY(0);
}

.hide {
	transform: translateY(-100%);
}
.logo {
	color: white;
	/*border: 2px solid green;*/
	height: 50%;
	flex-direction: row-reverse;
	width: fit-content;
}
.logoText {
	/*border: 2px solid red;*/
	height: auto;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logoImg {
	filter: brightness(0) saturate(100%) invert(85%) sepia(56%) saturate(1892%)
		hue-rotate(332deg) brightness(99%) contrast(98%);
	/*filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7491%)
		hue-rotate(96deg) brightness(108%) contrast(109%);*/
	transition: transform 0.5s ease-in-out;
}
.logoText:hover ~ .logoImg,
.logoImg:hover {
	transform: rotate(180deg);
}
